<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>

<body>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Homeease</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto ">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Statistics</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/search">Search</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <i class="bi bi-person fs-4"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">profile</a></li>
                            <li><a class="dropdown-item" href="#">Logout</a></li>

                        </ul>
                    </li>

                </ul>

            </div>
        </div>
    </nav>
    <div class="card ms-3 me-3 mt-3">
        <div class="card-header">
            <div class="d-flex d-inline ">
                <h4> Packages</h4>

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary ms-auto    " data-bs-toggle="modal"
                    data-bs-target="#exampleModal">
                    Add Package
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Add Package</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form method="POST" action="/professional/add_package">
                                    <div class="mb-3">
                                        <label for="exampleTitle" class="form-label">Title</label>
                                        <input type="text" class="form-control" id="exampleTitle"
                                            aria-describedby="emailHelp" required name="title">
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampledesc" class="form-label">Description</label>
                                        <input type="text" class="form-control" id="exampledesc" required
                                            name="description">
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleprice" class="form-label">price</label>
                                        <input type="text" class="form-control" id="exampleprice" required name="price">
                                    </div>
                                    <div class="mb-3">
                                        <label for="examplesd" class="form-label">Start Date</label>
                                        <input type="date" class="form-control" id="examplesd" required
                                            name="start_date">
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleed" class="form-label">End Date</label>
                                        <input type="date" class="form-control" id="exampleed" required name="end_date">
                                    </div>


                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body ms-3 mt-3 me-3 mb-3">
        <div class="row">
            {% for package in packages %}
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{package.title}}</h5>
                        <p class="card-text"><strong>Description:</strong>{{package.description}} </p>
                        <p class="card-text"><strong>Price:</strong>{{package.price}}</p>
                        <p class="card-text"><strong>Start Date:</strong>{{package.start_date}}</p>
                        <p class="card-text"><strong>End Date:</strong>{{package.end_date}}</p>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary ms-auto    " data-bs-toggle="modal"
                            data-bs-target="#editpack{{package.id}}">
                            <i class="bi bi-pen"></i>
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="editpack{{package.id}}" tabindex="-1"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Package</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form method="POST" action="/professional/edit_package/{{package.id}}">
                                            <div class="mb-3">
                                                <label for="exampleTitle" class="form-label">Title</label>
                                                <input type="text" class="form-control" id="exampleTitle"
                                                    aria-describedby="emailHelp" required name="title"
                                                    value="{{package.title}}">
                                            </div>
                                            <div class="mb-3">
                                                <label for="exampledesc" class="form-label">Description</label>
                                                <input type="text" class="form-control" id="exampledesc" required
                                                    name="description" value="{{package.description}}">
                                            </div>
                                            <div class="mb-3">
                                                <label for="exampleprice" class="form-label">price</label>
                                                <input type="text" class="form-control" id="exampleprice" required
                                                    name="price" value="{{package.price}}">
                                            </div>
                                            <div class="mb-3">
                                                <label for="examplesd" class="form-label">Start Date</label>
                                                <input type="date" class="form-control" id="examplesd" required
                                                    name="start_date" value="{{package.start_date}}">
                                            </div>
                                            <div class="mb-3">
                                                <label for="exampleed" class="form-label">End Date</label>
                                                <input type="date" class="form-control" id="exampleed" required
                                                    name="end_date" value="{{package.end_date}}">
                                            </div>


                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <a type="button" href="/professional/delete/{{package.id}}" class="btn btn-primary"><i
                                class="bi bi-trash"></i></a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="card ms-3 me-3 mt-3">
        <div class="card-body">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="pills-accepted-booking-tab" data-bs-toggle="tab"
                        data-bs-target="#pills-accepted-booking" type="button" role="tab" aria-controls="home-tab-pane"
                        aria-selected="true">Active</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-requested-booking-tab" data-bs-toggle="tab"
                        data-bs-target="#pills-requested-booking" type="button" role="tab"
                        aria-controls="profile-tab-pane" aria-selected="false">Requested</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-completed-booking-tab" data-bs-toggle="tab"
                        data-bs-target="#pills-completed-booking" type="button" role="tab"
                        aria-controls="contact-tab-pane" aria-selected="false">History</button>
                </li>

            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="pills-accepted-booking" role="tabpanel"
                    aria-labelledby="home-tab" tabindex="0">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Package</th>
                                <th scope="col">Customer Name</th>
                                <th scope="col">Customer Email</th>
                                <th scope="col">Price</th>
                                <th scope="col">Date</th>
                                <th scope="col">Time</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for booking in bookings %}
                            {% if booking.status=="Accepted" %}
                            <tr>
                                <th scope="row">1</th>
                                <td>{{booking.package.title}}</td>
                                <td>{{booking.customer.name}}</td>
                                <td>{{booking.customer.email}}</td>
                                <td>{{booking.package.price}}</td>
                                <td>{{booking.date}}</td>
                                <td>{{booking.time}}</td>
                                <td>{{booking.status}}</td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="pills-requested-booking" role="tabpanel" aria-labelledby="profile-tab"
                    tabindex="0">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Package</th>
                                <th scope="col">Customer Name</th>
                                <th scope="col">Customer Email</th>
                                <th scope="col">Price</th>
                                <th scope="col">Date</th>
                                <th scope="col">Time</th>
                                <th scope="col">Status</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for booking in bookings %}
                            {% if booking.status=="Requested" %}
                            <tr>
                                <th scope="row">1</th>
                                <td>{{booking.package.title}}</td>
                                <td>{{booking.customer.name}}</td>
                                <td>{{booking.customer.email}}</td>
                                <td>{{booking.package.price}}</td>
                                <td>{{booking.date}}</td>
                                <td>{{booking.time}}</td>
                                <td>{{booking.status}}</td>
                                <td>
                                    <a type="button" href="#" class="btn btn-primary">Accept</button>
                                    <a type="button" href="#" class="btn btn-primary">Reject</button>

                                </td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
                <div class="tab-pane fade" id="pills-completed-booking" role="tabpanel" aria-labelledby="contact-tab"
                    tabindex="0">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Package</th>
                                <th scope="col">Customer Name</th>
                                <th scope="col">Customer Email</th>
                                <th scope="col">Price</th>
                                <th scope="col">Date</th>
                                <th scope="col">Time</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for booking in bookings %}
                            {% if booking.status=="Rejected" %}
                            <tr>
                                <th scope="row">1</th>
                                <td>{{booking.package.title}}</td>
                                <td>{{booking.customer.name}}</td>
                                <td>{{booking.customer.email}}</td>
                                <td>{{booking.package.price}}</td>
                                <td>{{booking.date}}</td>
                                <td>{{booking.time}}</td>
                                <td>{{booking.status}}</td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>

                </div>

            </div>
        </div>
    </div>





    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>

</html>